.content {
    padding: 16px;
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 3px;
    .container-option, .content-left {
        min-width: 400px;
    }
    .content-center {
        border: 1px solid #ccc;
        margin: 0 16px;
    }
    .content-left {
        .content-left-items {
            .item {
                .item-detail {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    .item-detail {
                        margin: 8px;
                    }
                }
                .group-btn {
                    display: flex;
                    justify-content: flex-end;
                    padding-top: 0;
                }
                
            }
        }
        
    }
    .add-form {
        width: 100%;
        .button-group {
            display: inline-flex;
            justify-content: flex-end;
            .button-add {
                display: flex;
                flex: 1;
                margin-right: 30px;
                
            }
            .btn-setPrice {
                display: flex;
            }
        }
    }
    
}
.add-form-row {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
   
}
.group-btn {
    padding-top: 10px;
}
.form-row {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    input {
        margin-right: 10px;
    }
    .optionName-parent {
        display: flex;
        flex: 1;
        font-weight: 700;
    }
}
.add-form-row-child {
    display: inline-flex;
    padding: 10px;
    .form-row-item-child {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        input {
            margin-right: 10px;
        }
        
    }
    .option-item {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &.active {
            .icon-ant {
                color: blue;
            }
        }
        .item {
            padding: 5px;
        }
        
    }
}
.hideOption {
    display: none;
}

