.search-content {
    display: inline-flex;
    width: 100%;
    height: auto;
    .add-btn {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        .ant-btn {
            margin: 10px 0;
        }

    }
    .search-column {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex: 9;
        .search-comp-name, .search-comp-status, .search-comp-birthDate,
        .search-comp-gender, .search-comp-level {
            display: Flex;
            margin: 10px;
            align-items: center;
            label {
                padding-right: 10px;
            }
        }
    }
    .ant-radio-group.ant-radio-group-outline {
        display: inline-flex;
    }
    
}
