.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    background: var(--primary-color);
    position: sticky;
    top: 0;
    left: 0;
    a {
      text-decoration: none;
    }
  }
  
  .navbar__logo {
    font-size: 40px;
    font-weight: bold;
    color: #0d6efd;
  }
  
  .navbar__cart {
    width: 180px;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .navbar__cart:hover {
    opacity: 0.75;
  }
  
  .cart__title {
    font-size: 30px;
    font-weight: bold;
    color: #0d6efd;
  }
  
  .cart__image {
    width: 30px;
    height: 30px;
    color: #0d6efd;
    object-fit: contain;
  }
  
  .cart__counter {
    height: 40px;
    width: 40px;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    color: #0d6efd;
    background: var(--light-color);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cart-icon {
    font-size: 24px;
  }
  