@import "~bootstrap/scss/bootstrap";
.add-item {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    .add-name-label, .add-name-btn {
        height: 40px;
        border-radius: 4px;
        border: 1px solid #ccc;
        margin-right: 20px;
        padding: 0 10px;
    }
    .btn-primary {
        background-color: #17a2b8;
    }
}
.list-item {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    .header {
        height: 40px;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
    }
}