.cart {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .cart__items {
    display: flex;
    flex: 0.7;
    margin-right: 1rem;
    flex-direction: column;
    .cart-item {
      display: flex;
    }
    .cartItem-image {
        max-width: 300px;
    }
    .cartItem-infor {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .cartItem-details {
      display: flex;
      flex-direction: column;
      
      .details-title, .details-price{
        font-size: 16px;
        margin: 0px;
      }
    }
    .cartItem-actions {
      display: inline-flex;
    }
    .cartItem-qty-input {
      padding: 8px 10px;
    }
  }
  
  .cart__summary {
    height: 250px;
    flex: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
  }
  
  .summary__title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .summary__price {
    display: flex;
    align-items: center;
  }
  
  .summary__price span:nth-child(1) {
    font-size: 0.9rem;
    flex: 0.6;
  }
  
  .summary__price span:nth-child(2) {
    flex: 0.4;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .summary__checkoutBtn {
    padding: 10px 17px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    background: var(--primary-color);
    color: var(--light-color);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .summary__checkoutBtn:focus {
    outline: none;
    border: 1px solid var(--secondary-color);
  }
  
  .summary__checkoutBtn:hover {
    opacity: 0.75;
  }