.dash-board {
    display: inline-flex;
    width: 100%;
    height: 100%;
    .dash-board-card-left {
        display: flex;
        flex-direction: column;
        .bar-chart {
            display: flex;
            height: 100%;
        }
        
        .line-chart {
            display: flex;
            min-width: 600px;
            min-height: 150px;
            height: 100%;
        }
    }
    .dash-board-card-left {
        display: flex;
        .pie-chart {
            display: flex;
            width: 600px;
            height: 150px;
        }
    }
    
}