.product-infor {
    display: flex;
    flex-direction: column;
}
.product-detail {
    display: flex;

    .avatar {
        display: flex;
        flex: 4;
        justify-content: center;
        align-items: center;
        .ant-avatar.ant-avatar-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px !important;
            height: 150px !important;
            line-height: 150px !important;
            font-size: 75px !important;
        }
    }
    .details {
        display: inline-flex;
        flex: 8;
        flex-wrap: wrap;
        justify-content: flex-start;
        .product-name, .price, .expired-date, .amount, .description {
            display: inline-flex;
            margin: 10px;
            align-items: center;
            min-width: 500px;
            
            label {
                width: 120px;
            }
            input, .ant-picker, .ant-select, textarea {
                width: 300px;
            }
        }
        .add-opptions {
            display: flex;
            flex-direction: column;
            label {
               padding-bottom: 16px;
            }
        }
        
    }
    .ant-upload-picture-card-wrapper {
        display: flex;
        justify-content: center;
    }
    .ant-upload.ant-upload-select-picture-card {
        width: 151px;
        height: 151px;
        margin: 0;
        border: 1px solid #ccc;
        &:hover {
            opacity: 0.5;
            background-color: black;
            transition: background-color 0.5s ease;

        }
    }
}
