.employee-list {
    display: flex;
    flex-direction: column;

    .ant-input-search.ant-input-search-with-button {
        display: flex;
        width: 30%;
    }
    .search {
        display: flex;
        height: 40px;
        height: auto;
    }
    .btn-delete {
        font-size: 14px;
    }
    .avatar-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 16px;
    }
    .ant-btn {
        text-transform: initial;
    }
    
}
.ant-modal-content {
    box-shadow: 1px 1px #ccc ;
}
.ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.1);
}