@import "~bootstrap/scss/bootstrap";
$font-family: CBASans;
$font-size-small: 10px;
$font-size-small-normal: 12px;
$font-size-normal: 14px;
$font-size-medium-small: 16px;
$font-size-medium: 18px;
$font-size-medium-large: 28px;
$font-size-large: 36px;
$font-size-big-large: 46px;
$space-1a: 4px;
$space-2a: 8px;
$space-3a: 12px;
$space-4a: 16px;
$space-5a: 20px;
$space-6a: 24px;
$space-7a: 28px;
$space-8a: 32px;
$space-9a: 36px;
$space-10a: 40px;
$white-color: #ffffff;
$text-color: #231f20;


.view-page {
    width: 100%;
    font-size: $font-family;
    background-color: $white-color;
    color: $text-color;
    display: flex;
    &-header {
        display: inline-flex;
        width: 100%;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
        background-color: $white-color;
        z-index: 9999;
        position: fixed;
        top: 0;
        &-navbar {
            display: inline-flex;
            max-width: 940px;
            width: 940px;
           
            &-logo {
                display: flex;
                width: 234px;
                padding: 12px 0;
                flex: 1;
            }
            &-menu {
                .navbar {
                    .navbar-nav {
                        li {
                            a {
                                color: $text-color;
                            }
                        }
                    }
                }
            }
        }
    }
    &-content {
        padding: 94px 0 0 0;
        max-width: 940px;
        display: flex;
        z-index: 0;
        flex-direction: column;
        &-slide {
            display: flex;
            flex-direction: row;
            position: relative;
            &-left {
                display: flex;
                position: relative;
                &-text {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    padding-top: 26px;
                    top: 0;
                    &-1 {
                        margin: 0;
                        font-size: $font-size-medium;
                        line-height: 1.33;
                    }
                    &-2{
                        margin: 0;
                        font-size: $font-size-big-large;
                        font-weight: bold;
                        line-height: 0.7;
                        padding-top: 10px;
                    }
                    &-3 {
                        margin: 0;
                        font-size: $font-size-medium-small;
                        padding-top: 10px;
                    }
                }
            }
            &-right {
                position: absolute;
                right: 0;
                width: 380px;
                height: 520px;
                border: solid 1px $text-color;
                border-radius: 18px;
                padding: 21px $space-5a $space-4a;
                box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
                background-color: rgba(255, 255, 255, 0.9);
                margin: 26px 0;
                text-align: center;
                flex-direction: column;
                &-Simulasikan-rencana {
                    font-size: $font-size-normal;
                    font-weight: bold;
                }
                &-value {
                    border: solid 1px $text-color;
                    border-radius: 7px;
                    padding: $space-2a $space-10a;
                    margin: 20px 40px;
                    display: inline-flex;
                    span {
                        display: inline-flex;
                        padding: 0 40px;
                        .text-color {
                            margin: 0;
                            font-size: $font-size-medium-small;
                            font-weight: bold;
                            text-align: center;
                        }
                    }
                }
                &-scroll {
                    width: 100%;
                    display: inline-flex;
                    align-items: center;
                    position: relative;
                    .value-start {
                        position: absolute;
                        left: 0;
                    }
                    .value-end {
                        position: absolute;
                        right: 0;
                    }
                    .scrollbar {
                        height: 8px;
                        width: 250px;
                        background: #c4c4c4;
                        overflow-x: scroll;
                    }
                    .scrollbar-info::-webkit-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                        background-color: #F5F5F5;
                        border-radius: 10px; 
                    }
                        
                    .scrollbar-info::-webkit-scrollbar {
                        width: 12px;
                        background-color: #F5F5F5; 
                    }
                        
                    .scrollbar-info::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                        background-color: #33b5e5; 
                    }
                        
                    .scrollbar-info {
                        scrollbar-color: #33b5e5 #F5F5F5;
                    }
                }
            }
        }
    }
}