.product-list {
    display: flex;
    flex-direction: column;
    .btn-new {
        margin-bottom: 20px;
        text-transform: capitalize;
        display: flex;
        justify-content: flex-end;
    }

}
