@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$font: 'Lato', sans-serif;

$white: #F5F5F5;
$light: #E0C9CB;
$tan: #C3A1A0;
$pink: #D9AAB7;
$rose: #BA7E7E;
$dark: #4E4E4E;a
.App {
  text-align: center;
  padding: 20px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 915px;
  justify-content: flex-start !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
//   [data-theme="dark"] .site-layout-sub-header-background {
//     background: #141414;
// }
.ant-layout.ant-layout-has-sider {
  min-height: 971px;
  height: 100%;
}
.ant-layout-header.site-layout-background {
  background-color: #ffffff;
}
.site-layout-background.content {
  margin: 24px 16px;
  padding: 24px;
  min-height: 280px;
}

.ant-layout-sider, .ant-menu.ant-menu-dark {
  background-color: #0a2655 !important;
  .ant-menu-dark .ant-menu-item-selected > span > a {
    font-weight: bold;
  }
  a {
    text-decoration: none;
  }
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #0c2e69;
  }
  .active {
    background-color: #0c2e69;
    font-weight: bold;
    color: #ffffff;

  }
}
.ant-layout-header.site-layout-background {
  line-height: 0px;
  padding: 0px;
  display: flex;
  .header-content {
    display: inline-flex;
    align-items: center;
    width: 100%;
    .header-content-left {
      display: flex;
      flex: 2;

    }
    .header-content-right {
      display: flex;
      .avatar {
        display: flex;
        padding-right: 24px;
        align-self: flex-end;
      }

    }
    
  }
}
.avatar, .ant-dropdown {
  a {
    color: inherit;
    text-decoration: none;
  }
}
.site-layout-background.content {
  .content-comp {
    width: 100%;
  }
 
}