.employee-infor {
    display: flex;
    flex-direction: column;
}
.employee-detail {
    display: flex;

    .avatar {
        display: flex;
        flex: 4;
        justify-content: center;
        align-items: center;
        .ant-avatar.ant-avatar-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px !important;
            height: 150px !important;
            line-height: 150px !important;
            font-size: 75px !important;
        }
    }
    .details {
        display: inline-flex;
        flex: 8;
        flex-wrap: wrap;
        justify-content: flex-start;
        .first-name, .last-name, .comp-birthDate, .comp-gender, .comp-status, .comp-level, .comp-address {
            display: inline-flex;
            margin: 10px;
            align-items: center;
            min-width: 500px;
            
            label {
            width: 120px;
            }
            input, .ant-picker, .ant-select {
                width: 300px;
            }
        }
        .radio-opptions {
            display: inline-flex;
            .radio-item {
                display: inline-flex;
                max-width: 150px;
                justify-content: center;
                align-items: center;
            }
        }
        
    }
    .ant-upload-picture-card-wrapper {
        display: flex;
        justify-content: center;
    }
    .ant-upload.ant-upload-select-picture-card {
        border-radius: 50%;
        width: 151px;
        height: 151px;
        margin: 0;
        border: 1px solid #ccc;
        &:hover {
            opacity: 0.5;
            background-color: black;
            transition: background-color 0.5s ease;

        }
    }
}
.btn-group {
    display: inline-flex;
    padding-top: 20px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    .ant-btn {
        margin-right: 30px;
    }
}
.ant-radio-group.ant-radio-group-outline {
    display: inline-flex;
}